*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.8) ,rgba(0,0,0,0.8)) , url( sc.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* background-position: center; */
}
.spiderman{
    /* height: 70px; */
    width: 70px;
    /* border-radius: 100%; */
    margin-top: 15px;
    margin-left: 150px;
}
.header{
    height: 10%;
}
p{
    text-transform: capitalize;
}
.header-btn{
    background-color:#107fad ;
    padding: 7px 10px;
    border-radius: 15px;
    text-transform: capitalize;
    float: right;
    margin-top: 15px;
    font-weight: 700;

}
.movie-detailes{
    margin: 1rem 2rem;
}
.cascading img{
    height: 70px;
    width: 60px;
    margin: 7px;
    cursor: pointer;
    
}
.left-box a{
    background-color:#107fad ;
    padding: 7px 10px;
    border-radius: 15px;
    text-transform: capitalize;
    /* font-weight: 700; */
    color: white;
    margin-top: 30px;
    display: inline-block;
}
.download-btn{
    background-color: transparent !important ;
    border: 1px solid white;
}
.movie-image{
    height:400px;
    width: 400px;
    box-shadow: -4px 4px 5px 0 red;
    
}
.series-image img{
    width: 60%;
    margin-top: 5px;
    box-shadow: -4px 4px 5px 0 red;
    cursor: pointer;
    transition: 1s;

}
.series-image img:hover{
    transform: translateY(-12);

}